/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--card-background-color, #fff);
  background-color: var(--background-color, #fff);
  font-family: var(--main-font-family, 'sans-serif');
  font-variation-settings: 'weight' var(--main-font-weight);
  color: var(--accent-color);
}

.header {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  min-inline-size: 700px;
  min-block-size: 368px;
  border: solid 2px #000;
  background-color: var(--page-background-color);
  font-family: var(--accent-font-family, 'PressStart2P');
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
}

.header__logo {
  padding-top: 136px;
  padding-bottom: 20px;
  font-size: var(--header-logo-size);
}

.header__title {
  font-size: var(--header-title-size);
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: grid;
  justify-content: center;
  justify-items: start;
  gap: 8px;
  line-height: 19px;
}

.theme-menu__item {

}

.theme-menu__button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  border: none;
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}


.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: menu_arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -12px;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background-color: currentColor;
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/*'▶'Меню */


.content {

}
.cards {
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cards__list-item {
  inline-size: 700px;
  min-block-size: 1001px;
  border: solid 2px #000;
  
  background-color: var(--card-background-color, #fff);
}
.card {
  max-inline-size: 697px;
}

.card__title {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  padding: 3px 24px 3px 10px;
}

.card__image{
  position: relative;
  overflow: hidden;
  max-block-size: 696px;
  border: 1px solid var(--border-color);
}

.card__img_text {
  -webkit-text-stroke: 1px var(--card__img_text);
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font-family);
  color: var(--text-color);
  z-index: 1;
  mix-blend-mode: hard-light;
}

.card__img {
  width: 696px;
  object-fit: cover;
}

/* Фильтры */

img.grayscale {
  filter: grayscale(70%);
}

img.saturate {
  filter: saturate(4);
}

img.invert {
  filter: invert(90%);
}

img.contrast {
  filter:  contrast(140%) hue-rotate(35deg);
}

img.sepia {
  filter: sepia(90%);
}

img.blur {
  filter: blur(12px);
}

img.hue-rotate {
  filter: hue-rotate(80deg) contrast(50%) saturate(160%) blur(2px);
}

.card__footer {

}

.card__paragraph {
  padding: 25px;
}

.card__text {
  font-family: 'Inter', 'sans-serif';
  font-weight: 400;
  font-size: 18px;
}

.card__text:last-child {
  padding-top: 27px;
}

/* button */

.card__icon-button {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__icon-button:focus {
  outline: none;
}


.article__button {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 25px 25px 25px 0;
  gap: 12px;
}

.button__card-like {
  position: relative;
  width: 130px;
  height: 38px;
  background: var(--page-background-color);
  z-index: 1;
  border: 2px solid var(--border-color);
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.button__card-like:focus {
  outline: none;
}

.button__card-like:focus-visible {
  box-shadow: 2px 2px 0 var(--border-color);
}

.sparks {
  opacity: 0;
}


.button__card-like::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
  transition: transform 0.5s ease-in-out;
}

.button__card-like:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--button-text-color);
  mix-blend-mode: difference;
}