/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--background-color, #fff);
  font-family: var(--main-font-family, 'sans-serif');
  font-variation-settings: 'weight' var(--main-font-weight);
  color: var(--accent-color);
}

.header {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  min-inline-size: 700px;
  min-block-size: 368px;
  border: solid 2px #000;
  background-color: #fff;
  font-family: var(--accent-font-family, 'PressStart2P');
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
}

.header__logo {
  padding-top: 136px;
  padding-bottom: 20px;
  font-size: var(--header-logo-size);
}

.header__title {
  font-size: var(--header-title-size);
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 8px;
  line-height: 19px;
}

.theme-menu__item {
}

.theme-menu__button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  border: none;
  position: relative;
}

.theme-menu__button:hover {
  opacity: 60%;
}


.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -12px;
}


/*'▶'Меню */


.content {
}
.cards {
}
.cards__list {
}
.cards__list-item {
  inline-size: 700px;
  min-block-size: 1001px;
}
.card {
}
.card__title {
}
.card__img {
}
.card__footer {
}
.car__text {
}