/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--background-color, #fff);
  font-family: var(----main-font-family, 'sans-serif');
  font-variation-settings: 'weight' var(--main-font-weight);
  color: var(--accent-color);
}

.center {
  margin-inline: auto;
}

.header {
  margin-top: 102px;
  text-align: center;
  max-inline-size: 700px;
  max-block-size: 370px;
  border: solid 2px #000;
  background-color: #fff;
  font-family: var(--accent-font-family, 'PressStart2P');
  font-weight: var(--main-font-weight);
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-transform: uppercase;
}

.header__logo {
  padding-top: 136px;
  padding-bottom: 20px;
  font-size: var(--header-logo-size);
}

.header__title {
  font-size: var(--header-title-size);
  
}

.theme-menu__list {
  margin-block: 25px;
  display: grid;
  gap: 8px;
  font-size: 14px;
  line-height: 19px;
}

.theme-menu__button {
  text-transform: uppercase;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  border: none;
}