/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter';
    --accent-font-family: 'PressStart2P';

    --main-font-weight: 400;
    --main-font-title: 700; 


    --color-black: #000;
    --color-white: #fff;
    --color-green: #00CC14;

    --page-background-color: #fff;
    --page-color-text: #000;

    --like-heart-color: #FF0000;
}

/* Вес вариативного шрифта будет меняться между цветовыми схемами. В тёмной теме шрифт потолще, чтобы легче читалось. Удобно вынести в переменные толщину основного текста карточки и толщину заголовка карточки. В итоге у вас получится четыре переменные, связанные с типографикой. Основной вес шрифта  */