/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter';
    --accent-font-family: 'PressStart2P';

    --main-font-title: 700; 
    --main-font-weight: 400;


    --color-black: #000;
    --color-white: #fff;
    --color-green: #00CC14;
    --color-red: #FF0000;

    --border-color: var(--color-black);
    --button-text-color: var(--page-background-color);


    --background-image: repeating-linear-gradient(to left, #d3d3d3, #d3d3d3 2px, transparent 2px,transparent 4px),
    repeating-linear-gradient(to bottom,#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

    --page-background-color: var(--color-white);
    --card__img_text: rgb(255, 255, 255, 0.5);

    --accent-color: var(--color-black);

    --text-color: var(--color-black);
    --like-heart-color: var(--color-red);


    --header-logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --header-title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

    --like-body: var(--border-color);
    --like-red: var(--color-red);
}
