/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter';
    --accent-font-family: 'PressStart2P';

    --main-font-title: 700; 
    --main-font-weight: 400;

    --color-black: #000;
    --color-white: #fff;
    --color-green: #00CC14;

    --background-image: repeating-linear-gradient(to left, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);

    --page-background-color: #fff;
    --accent-color: #00CC14;

    --like-heart-color: #FF0000;


    --header-logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --header-title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}
